BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
AccessModifierOffset: -4
PointerAlignment: Left
QualifierAlignment: Right
AllowShortIfStatementsOnASingleLine: Never
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true